body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.billboards td{
    text-align: center;
}
.billboards th{
    text-align: center;
    cursor: pointer;
}

.admin{
    float: right;
}

.glyphicon-sort{
    float: right;
    color: lightgray;
}

.map{
    margin-top: 20px;
}

.container h1{
    font-size: 30px;
}

.container h2{
    font-size: 26px;
}

.navbar .contacts{
    font-size: 18px;
    color: #999999;
    margin-left: 40px;
    line-height: 20px;
    padding: 15px;
    float: left;
}