{% load sekizai_tags flatpages %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block description %}Рекламные плакаты в Кирове{% endblock %}">
        <link rel="shortcut icon" href="">

        <title>{% block title %}Рекламные плакаты в Кирове{% endblock %}</title>

        {% addtoblock "css" %}
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
        {% endaddtoblock %}

        {% addtoblock "js" %}
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="{{ STATIC_URL }}/js/bootstrap.min.js"></script>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        {% endaddtoblock %}

        {% render_block "css" %}
        {% render_block "js" %}
    </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Главная</a>
            <a class="navbar-brand" href="/pages/about/">О компании</a>
            <a class="navbar-brand" href="/pages/price/">Цены</a>
            <span class="contacts">Сайт продается, тел: 8-909-140-73-62</span>
            
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form" action="{% url "billboards:index" %}" method="get">
            <div class="form-group">
              <input type="text" placeholder="" class="form-control" name="q" value="{{ request.GET.q }}">
            </div>
            <button type="submit" class="btn btn-success">Найти</button>
          </form>
        </div>
      </div>
    </div>

    <div class="jumbotron">
        {% block page_description %}
            <div class="container">
                {% get_flatpages '/snippet/' as snippet %}
                {{ snippet.0.content|safe }}
            </div>
        {% endblock %}
    </div>

    <div class="container">
        <div class="row">
            {% block content %}

            {% endblock %}
        </div>

        <hr>

        <footer>
            <p>
                <a class="admin" href="{% url "admin:index" %}">Войти</a>
            </p>
        </footer>
    </div> <!-- /container -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter23740174 = new Ya.Metrika({id:23740174,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/23740174" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

  </body>
</html>
