{% extends "base.html" %}

{% load sekizai_tags humanize %}



{% block content %}
    {% addtoblock "js" %}
        <script src="{{ STATIC_URL }}/js/jquery.tablesorter.min.js"></script>
        <script>
            $(document).ready(function() {
                $("#billboards").tablesorter();
            });
        </script>
    {% endaddtoblock %}
    <table id="billboards" class="table table-bordered billboards">
        <thead>
            <tr class="success">
                <th>№ <span class="glyphicon glyphicon-sort "></span></th>
                <th>Город <span class="glyphicon glyphicon-sort"></span></th>
                <th>Формат <span class="glyphicon glyphicon-sort"></span></th>
                <th>Вид <span class="glyphicon glyphicon-sort"></span></th>
                <th>Адрес <span class="glyphicon glyphicon-sort"></span></th>
                <th>Сторон <span class="glyphicon glyphicon-sort"></span></th>
                <th>Свет <span class="glyphicon glyphicon-sort"></span></th>
                <th>Стоимость <span class="glyphicon glyphicon-sort"></span></th>
                <th>Ссылка</th>
            </tr>
        </thead>
        <tbody>
            {% for board in billboard_list %}
            <tr {% if forloop.counter|divisibleby:"2" %}class="active"{% endif %}>
                <td>{{ board.pk }}</td>
                <td>{{ board.city }}</td>
                <td>{{ board.format }}</td>
                <td>{{ board.view }}</td>
                <td>{{ board.address }}</td>
                <td>{{ board.sides }}</td>
                <td>
                    {% if board.light %}
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-ban-circle"></span>
                    {% endif %}
                </td>
                <td>{{ board.price|intcomma }}</td>
                <td><a href="{{ board.get_absolute_url }}">Фото</a></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>

{% endblock %}