{% extends "base.html" %}

{% load sekizai_tags humanize thumbnail %}

{% block page_description %}
    <div class="container">
    <table id="billboards" class="table table-bordered billboards">
        <thead>
            <tr class="success">
                <th>№</th>
                <th>Город</th>
                <th>Формат</th>
                <th>Вид</th>
                <th>Адрес</th>
                <th>Сторон</th>
                <th>Свет</th>
                <th>Стоимость</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ billboard.pk }}</td>
                <td>{{ billboard.city }}</td>
                <td>{{ billboard.format }}</td>
                <td>{{ billboard.view }}</td>
                <td>{{ billboard.address }}</td>
                <td>{{ billboard.sides }}</td>
                <td>
                    {% if billboard.light %}
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-ban-circle"></span>
                    {% endif %}
                </td>
                <td>{{ billboard.price|intcomma }}</td>
            </tr>
        </tbody>
      </table>
    </div>
{% endblock %}

{% block content %}
    {% addtoblock "js" %}
        <script src="{{ STATIC_URL }}/fotorama/fotorama.js"></script>
        <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
    {% endaddtoblock %}
    {% addtoblock "css" %}
        <link href="{{ STATIC_URL }}/fotorama/fotorama.css" rel="stylesheet">
    {% endaddtoblock %}

    <div class="fotorama" data-height="500" data-width="100%" data-nav="thumbs" data-thumbwidth="90">
    {% for image in billboard.images.all %}
        {% thumbnail image.image "90" as img %}
            {% thumbnail image.image "980" as big_img %}
                <a href="{{ big_img.url }}"><img src="{{ img.url }}"></a>
            {% endthumbnail %}
        {% endthumbnail %}
    {% endfor %}
    </div>

    <div id="map" class="map" style="width: 100%; height: 400px">
    </div>

    <script type="text/javascript">
        ymaps.ready(init);
        var myMap;

        function init(){
            myMap = new ymaps.Map ("map", {
                center: [{{ billboard.lat|stringformat:"f" }}, {{ billboard.long|stringformat:"f" }}],
                zoom: 17
            });
            myMap.controls.add(
                        new ymaps.control.ZoomControl()
                    );

            myPlacemark = new ymaps.Placemark([{{ billboard.lat|stringformat:"f" }}, {{ billboard.long|stringformat:"f" }}], {
                content: '{{ billboard.city }}, {{ billboard.address }}',
                balloonContent: '{{ billboard.city }}, {{ billboard.address }}'
            });

            myMap.geoObjects.add(myPlacemark);
        }
    </script>
{% endblock %}